@media screen and (min-width: 1260px) {
  #aboutMe {
    display: grid;
    grid-template-areas:
      "text text cv cv cv"
      "icons icons cv cv cv";
    max-width: 1060px;
    margin: auto;
  }
  .about-text {
    grid-area: text;
  }
  .skills {
    grid-area: icons;
  }
  .avatar-wrapper {
    grid-area: cv;
  }
}

.skills-block {
  margin-block: 3rem;
  text-align: center;
  & .skills-block-gallery {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    & > * {
      margin-inline: 1rem;
    }
  }

  & h4 {
    display: block;
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 1260px) {
  .skills-block {
    & .skills-block-gallery {
      font-size: 7rem;
    }
    & h4 {
      font-size: 2.4rem;
    }
  }
}
