footer {
  background-color: hsl(var(--clr-blue));
  display: flex;
  flex-flow: column;
  align-items: center;
  outline: 2px solid hsl(var(--clr-blue));
  & > * {
    margin-bottom: 2rem;
  }
  & .title {
    & h2 {
      font-size: 6rem;
      text-align: center;
    }
    & p {
      font-size: 3rem;
    }
    & p:nth-child(2) {
      font-size: 2rem;
    }
  }
}

.footer-redes {
  display: flex;
  flex-direction: column;
  & a {
    margin-bottom: 2rem;
  }
  & svg {
    font-size: 6rem;
  }
}
.footer-redes-link {
  position: relative;
  font-size: 3.2rem;
}
