.section-wrapper {
  position: relative;
}
header {
  padding-inline: var(--g-margin);
}
.top-header {
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  max-height: 90px;
  margin-bottom: 20vh;
  padding-block: var(--g-margin);
}
.logo-container {
  position: relative;
  width: clamp(50px, 18vw, 75px);
  &:after {
    content: "";
    position: absolute;
    top: 0;
    border-radius: 50%;
    width: clamp(50px, 18vw, 75px);
    height: clamp(50px, 18vw, 75px);
  }
  & #logo-full {
    position: absolute;
    top: 0;
    opacity: 1;
  }
}
.bottom-header {
  padding-inline: var(--inline-padding);
}
.header-bajada {
  & h1 {
    text-align: center;
  }
}
.header-bajada-button {
  display: grid;
  justify-content: center;
  margin: 2rem auto 0px auto;
}
