.section-wrapper {
  position: relative;
}
header {
  padding-inline: var(--g-margin);
}
.top-header {
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  margin-bottom: 20vh;
  padding-block: var(--g-margin);
}
@media screen and (min-width: 550px) {
  .top-header {
    margin-bottom: 8vh;
  }
}
@media screen and (min-width: 700px) {
  .header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .top-header {
    margin-bottom: 2vh;
  }
}
.big-logo {
  display: none;
  & .logo-container {
    width: 250px;
    margin: auto;
  }
}
@media screen and (min-width: 550px) {
  .logo {
    display: none;
  }
  .big-logo {
    display: block;
  }
}
.logo-container {
  position: relative;
  width: clamp(50px, 18vw, 75px);
  &:after {
    content: "";
    position: absolute;
    top: 0;
    border-radius: 50%;
    width: clamp(50px, 18vw, 75px);
    height: clamp(50px, 18vw, 75px);
  }
  & #logo-full {
    position: absolute;
    top: 0;
    opacity: 1;
  }
}
.bottom-header {
  padding-inline: var(--inline-padding);
}
.header-bajada {
  margin: auto;
  max-width: 250px;
  & h1 {
    text-align: center;
  }
}
.header-bajada-button {
  display: grid;
  justify-content: center;
  margin: 20px auto 0px auto;
}
@media screen and (min-width: 550px) {
  .bottom-header {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .header-bajada {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
.side-header {
  display: none;
}
@media screen and (min-width: 700px) {
  .bottom-header {
    max-width: 780px;
    margin: auto;
  }
  .header-bajada {
    margin: 0px;
  }
  .header-bajada-button {
    width: 85px;
    position: relative;
    top: 40px;
    z-index: 8;
  }
  .side-header {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1260px) {
  .bottom-header {
    position: relative;
    top: 75px;
    flex-flow: row wrap;
    max-width: 100%;
  }
  .header-wrapper {
    flex: 1 0 65%;
  }
  .header-bajada {
    max-width: 430px;
  }
  .header-bajada-button {
    margin-top: 0px;
    top: 25px;
  }
}
