nav {
  position: fixed;
  right: 0px;
  z-index: 10;
}
.menu-icon {
  position: relative;
  z-index: 10;
  margin-right: 1rem;
  & button {
    border: none;
    background: none;
    position: fixed;
    top: 15px;
    right: 15px;
  }
  &:hover {
    background: none;
  }
  & svg {
    font-size: 3rem;
  }
}
@keyframes sliceFromRight {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(var(--menu-pos));
  }
}
@keyframes exitToRight {
  0% {
    transform: translateX(--menu-pos);
  }
  100% {
    transform: translateX(110%);
  }
}
.navbar-menu {
  position: absolute;
  top: -2;
  left: -16px;
  height: 105vh;
  width: 110vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 8;
  background-image: url("../img/mobile-menu-bg.svg");
  background-color: white;
  background-repeat: no-repeat;
  transition: transform 350ms ease;
  border-bottom-left-radius: 15px 74px;
  border-top-left-radius: 15px 74px;
  &[aria-hidden="true"] {
    transform: translateX(110%);
  }
  &[aria-hidden="false"] {
    transform: translate(-90%, -7%);
  }
  & a {
    position: relative;
    font-family: "BioRhyme", serif;
    font-weight: var(--fw-900);
    font-size: 2rem;
    text-decoration: none;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100vw;
      height: 5px;
      border-radius: var(--border-radius);
    }
    &[aria-hidden="true"] {
      animation: exitToRight 250ms ease forwards;
    }
    &[aria-hidden="false"] {
      animation: sliceFromRight var(--animation-time) ease forwards;
      animation-delay: 100ms;
    }
  }
  & a.about {
    color: hsl(var(--clr-blue));
    --menu-pos: 19%;
    --animation-time: 150ms;
    &:before {
      background-color: hsl(var(--clr-blue) / 0.7);
    }
  }
  & a.work {
    color: hsl(var(--clr-brown));
    --menu-pos: 5%;
    --animation-time: 210ms;
    &:before {
      background-color: hsl(var(--clr-brown) / 0.7);
    }
  }
  & a.contact {
    color: hsl(var(--clr-green));
    --menu-pos: 12%;
    --animation-time: 300ms;
    &:before {
      background-color: hsl(var(--clr-green) / 0.7);
    }
  }
}
