.avatar-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-block: 75px;
}
@media screen and (min-width: 1260px) {
  .avatar-wrapper {
    margin: 0px auto;
    width: 515px;
  }
}
.avatar-main {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding-inline: 1rem;
}
@media screen and (min-width: 1260px) {
  .avatar-main {
    flex-direction: column-reverse;
    margin: 0px auto;
  }
}
.avatar-info {
  text-align: center;
  padding-inline: 1rem;
  & h5 {
    font-size: 2rem;
    margin: 0px;
  }
}
@media screen and (min-width: 1260px) {
  .avatar-info {
    & h5 {
      font-size: 3.2rem;
    }
  }
}
.avatar-datos {
  & p {
    text-align: center;
  }
}
.avatar-img {
  position: relative;
  display: flex;
  align-items: center;
  margin: 2rem auto;
  width: 50%;
  padding-inline: 1rem;

  & img {
    width: 100%;
    border-radius: 50%;
  }
}
@media screen and (min-width: 1260px) {
  .avatar-img {
    width: 75%;
  }
}
.cv-button-container {
  display: grid;
  justify-content: center;
  width: 100%;
}
.cv-button {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60px;
  width: 60px;
  bottom: 12px;
  border-radius: 50%;
  border: none;
  background-color: hsl(var(--clr-green));
  transition: all 0.2s ease;
  & > span {
    position: relative;
    top: 4px;
    z-index: 3;
    color: hsl(var(--clr-white));
    font-size: 2.3rem;
    font-weight: 900;
  }
  & svg {
    position: absolute;
    bottom: 3px;
    z-index: 2;
    color: hsl(var(--clr-white));
    font-size: 2.3rem;
    & path {
      background-color: black;
    }
  }
  &:hover {
    scale: 1.14;
  }
}
@media screen and (min-width: 1260px) {
  .cv-button-container {
    margin: auto;
  }
  .cv-button {
    width: 120px;
    height: 120px;
    & > span {
      top: 20px;
      font-size: 4rem;
    }
    & svg {
      bottom: 15px;
      font-size: 3rem;
    }
  }
}
