.side-header {
  /* display, está en header.css en la asignación de grid-areas */
  & h3 {
    display: none;
    text-align: center;
    margin-bottom: 2.5rem;
  }
}
.side-atajos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  padding: 0px;
  z-index: 2;
}
.side-atajos-item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  width: 215px;
  font-weight: var(--fw-700);
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}
.side-atajos-link {
  text-decoration: none;
}
.list-dot {
  width: 30px;
}
@media screen and (min-width: 1260px) {
  .side-header {
    display: flex;
    justify-content: center;
  }
  .side-atajos {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .side-atajos-item {
    flex-direction: row-reverse;
    width: 290px;
  }
}
