.side-header {
  /* display, está en header.css en la asignación de grid-areas */
  & h3 {
    display: none;
    text-align: center;
    margin-bottom: 2.5rem;
  }
}
.side-atajos {
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  padding: 0px;
  z-index: 2;
}
.side-atajos-item {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  width: 215px;
  height: 75px;
  font-weight: var(--fw-700);
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}
.side-atajos-span {
  height: 35px;
}
.list-dot {
  width: 30px;
  transition: scale 200ms ease;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
a.side-atajos-item:hover span {
  position: relative;
  border-bottom: 3px solid currentColor;
}
a.side-atajos-item:hover div.list-dot {
  scale: 1.15;
  animation: rotate 5000ms infinite;
}
@media screen and (min-width: 1260px) {
  .side-header {
    display: flex;
    justify-content: center;
  }
  .side-atajos {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .side-atajos-item {
    flex-direction: row-reverse;
    width: 290px;
  }
}
