@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;1,300&family=BioRhyme:wght@300;700;800&display=swap");/* Box sizing rules */*,
*::before,
*::after {
  box-sizing: border-box;
}/* Remove default margin */body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */ul[role="list"],
ol[role="list"] {
  list-style: none;
}/* Set core root defaults */html:focus-within {
  scroll-behavior: smooth;
}/* Set core body defaults */body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}/* A elements that don't have a class get default styles */a:not([class]) {
  text-decoration-skip-ink: auto;
}/* Make images easier to work with */img,
picture,
iframe {
  max-width: 100%;
  display: block;
}iframe {
  aspect-ratio: 16 / 9;
}/* Inherit fonts for inputs and buttons */input,
button,
textarea,
select {
  font: inherit;
}/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}:root {
  /* General Margins, paddings */
  --g-margin: 0.75rem;
  --g-padding: 0.25rem;

  /* FONTS */
  --font-special: "BioRhyme", serif;
  --font-normal: "Barlow", sans-serif;

  /* FONT WEIGHT */
  --fw-400: 400;
  --fw-300: 300;
  --fw-700: 700;
  --fw-900: 800;

  /* COLORS */
  --clr-white: 0 0% 91%;
  --clr-blue: 245 100% 8%; /* dark #030029 light #474561*/
  --clr-black: 0 0% 3%; /*  	#080808 */
  --clr-brown: 37 61% 29%; /*dark #77541d light #988059*/
  --clr-green: 132 58% 8%; /*dark #09200d light #4b5b4e*/

  /* Border & Shadows */
  --border-radius: 6px;
  --bs-white: -2px 3px 6px -3px hsl(0, 0%, 3%);
  --bs-blue: -2px 3px 6px -3px hsl(245, 100%, 8%);
  --bs-black: -2px 3px 6px -3px hsl(0, 0%, 3%);
  --bs-brown: -2px 3px 6px -3px hsl(37, 61%, 29%);

  /* Spacing */
  --inline-padding: 3rem;
}html {
  font-size: 10px;
  font-family: var(--font-normal);
}body,
#root {
  background-color: var(--clr-blue);
  max-width: 100vw;
}section {
  width: inherit;
  margin: var(--g-margin);
  padding: var(--g-padding);
}h1,h2,h3,h4,h5,h6 {
  text-align: inherit;
  font-family: var(--font-special);
}h1 {
  font-size: 4.3rem;
  font-weight: var(--fw-900);
}h2,
h3 {
  font-size: 2.8rem;
  font-weight: var(--fw-700);
}h3 {
  font-size: 2.4rem;
}h4,
h5,
h6 {
  font-size: 1.7rem;
  display: inline-block;
  font-weight: var(--fw-700);
}p,a,li,span {
  color: inherit;
  font-size: 1.4rem;
  text-align: center;
}@media screen and (min-width: 550px) {
  p,a,li,span {
    font-size: 1.65rem;
  }
}@media screen and (min-width: 700px) {
  p,a,li,span {
    font-size: 1.7rem;
  }
}@media screen and (min-width: 1260px) {
  p,a,li,span {
    font-size: 2.2rem;
  }
  h1 {
    font-size: 8.3rem;
  }
}.text-container {
  padding-inline: var(--inline-padding)
}.text-container > * {
    margin-bottom: 1rem;
  }.text-container h2 {
    text-align: center;
  }/* TEXT */.tx-white {
  color: hsl(var(--clr-white));
}.tx-black {
  color: hsl(var(--clr-black));
}.tx-blue {
  color: hsl(var(--clr--blue));
}.tx-brown {
  color: hsl(var(--clr-brown));
}.tx-green {
  color: hsl(var(--clr-green));
}.bg-black {
  background-color: hsl(var(--clr-black));
}.bg-green {
  background-color: hsl(var(--clr-green));
}.bg-blue {
  background-color: hsl(var(--clr-blue));
}.bg-brown {
  background-color: hsl(var(--clr-brown));
}.fw-700 {
  font-weight: 700;
}.spacer-container {
  position: relative
}.spacer-container .spacer:first-child {
    top: 6px;
    z-index: -1;
  }.spacer {
  position: relative;
  aspect-ratio: 4/3;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}@media screen and (min-width: 700px) {
  .spacer {
    aspect-ratio: 20/11;
  }
}.avatar-wrapper {
  position: relative;
  margin-block: 75px;
}.avatar-main {
  display: flex;
  flex-direction: row;
  margin-block: 2rem;
  padding-inline: 1rem;
}.avatar-info {
  padding-inline: 1rem
}.avatar-info h5 {
    margin: 0px;
  }.avatar-datos p {
    text-align: left;
  }.avatar-img {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
  padding-inline: 1rem
}.avatar-img img {
    width: 100%;
    border-radius: 50%;
  }.cv-button-container {
  position: absolute;
  display: grid;
  justify-content: center;
  width: 100%;
}.cv-button {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60px;
  width: 60px;
  bottom: 12px;
  border-radius: 50%;
  border: none;
  background-color: hsl(var(--clr-green))
}.cv-button > span {
    position: relative;
    top: 4px;
    z-index: 3;
    color: hsl(var(--clr-white));
    font-size: 2.3rem;
    font-weight: 900;
  }.cv-button svg {
    position: absolute;
    bottom: 3px;
    z-index: 2;
    color: hsl(var(--clr-white));
    font-size: 2.3rem
  }.cv-button svg path {
      background-color: black;
    }.button-nav {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  text-align: center;
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-green) / 0.7);
  cursor: pointer;
  transition: all 0.18s ease
}.button-nav:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: -1;
    width: inherit;
    height: inherit;
    background-color: hsl(var(--clr-blue) / 0.2);
    transition: all 0.18s ease;
  }.button-nav:hover {
    background-color: hsl(var(--clr-brown));
    scale: 1.15
  }.button-nav:hover:after {
      scale: 1.1;
    }.button-nav:focus {
    outline: none;
    background-color: hsl(var(--clr-brown))
  }.button-nav:focus:after {
      scale: 1.1;
    }@media screen and (min-width: 550px) {
  .button-nav {
    width: 100px;
    height: 100px;
  }
}@media screen and (min-width: 700px) {
  .button-nav {
    width: 130px;
    height: 130px;
  }
}/* display, está en header.css en la asignación de grid-areas */.side-header h3 {
    display: none;
    text-align: center;
    margin-bottom: 2.5rem;
  }.side-atajos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  padding: 0px;
  z-index: 2;
}.side-atajos-item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  width: 215px;
  font-weight: var(--fw-700);
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}.side-atajos-link {
  text-decoration: none;
}.list-dot {
  width: 30px;
}@media screen and (min-width: 1260px) {
  .side-header {
    flex: 1 0 35%;
    display: flex;
    justify-content: center;
  }
  .side-atajos {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .side-atajos-item {
    flex-direction: row-reverse;
    width: 290px;
  }
}section {
  margin: var(--g-margin);
}.color-palette {
  display: flex;
  flex-flow: wrap;
  max-width: 100%;
  background-color: hsl(var(--clr-black) / 0.2)
}.color-palette .container {
    margin: 2rem;
    flex: 1 1 auto;
  }.color-palette div .color-div {
    margin-bottom: 2rem;
    align-self: center;
    width: min(10rem, 15vw);
    height: min(10rem, 15vw);
    border-radius: var(--border-radius);
  }.color-palette div:nth-child(1) .color-div {
    background-color: hsl(var(--clr-white));
    box-shadow: var(--bs-black);
  }.color-palette div:nth-child(2) .color-div {
    background-color: hsl(var(--clr-blue));
    box-shadow: var(--bs-blue);
  }.color-palette div:nth-child(3) .color-div {
    background-color: hsl(var(--clr-brown));
    box-shadow: var(--bs-brown);
  }.color-palette div:nth-child(4) .color-div {
    background-color: hsl(var(--clr-black));
    box-shadow: var(--bs-black);
  }.font-group {
  margin-block: 2rem;
}.font-description {
  display: inline-block;
  background-color: hsl(var(--clr-black) / 0.2);
  padding: 0.25rem 1.5rem;
  margin-block: 0.5rem;
  border-radius: var(--border-radius);
}.section-wrapper {
  position: relative;
}header {
  padding-inline: var(--g-margin);
}.top-header {
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  margin-bottom: 20vh;
  padding-block: var(--g-margin);
}@media screen and (min-width: 550px) {
  .top-header {
    margin-bottom: 8vh;
  }
}@media screen and (min-width: 700px) {
  .header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .top-header {
    margin-bottom: 2vh;
  }
}.big-logo {
  display: none
}.big-logo .logo-container {
    width: 250px;
    margin: auto;
  }@media screen and (min-width: 550px) {
  .logo {
    display: none;
  }
  .big-logo {
    display: block;
  }
}.logo-container {
  position: relative;
  width: clamp(50px, 18vw, 75px)
}.logo-container:after {
    content: "";
    position: absolute;
    top: 0;
    border-radius: 50%;
    width: clamp(50px, 18vw, 75px);
    height: clamp(50px, 18vw, 75px);
  }.logo-container #logo-full {
    position: absolute;
    top: 0;
    opacity: 1;
  }.bottom-header {
  padding-inline: var(--inline-padding);
}.header-bajada {
  margin: auto;
  max-width: 250px
}.header-bajada h1 {
    text-align: center;
  }.header-bajada-button {
  display: grid;
  justify-content: center;
  margin: 20px auto 0px auto;
}@media screen and (min-width: 550px) {
  .bottom-header {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .header-bajada {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}.side-header {
  display: none;
}@media screen and (min-width: 700px) {
  .bottom-header {
    max-width: 780px;
    margin: auto;
  }
  .header-bajada {
    margin: 0px;
  }
  .header-bajada-button {
    width: 85px;
    position: relative;
    top: 40px;
    z-index: 8;
  }
  .side-header {
    display: flex;
    justify-content: center;
  }
}@media screen and (min-width: 1260px) {
  .bottom-header {
    position: relative;
    top: 75px;
    flex-flow: row wrap;
    max-width: 100%;
  }
  .header-wrapper {
    flex: 1 0 65%;
  }
  .header-bajada {
    max-width: 430px;
  }
  .header-bajada-button {
    margin-top: 0px;
    top: 25px;
  }
}nav {
  position: fixed;
  right: 6px;
  z-index: 10;
  transition: all 0.2s ease
}nav a.top-link {
    font-weight: var(--fw-700);
    text-decoration: none;
    margin-right: min(6vw, 5rem);
    padding-bottom: 1rem
  }nav a.top-link:hover {
      border-bottom: 3px solid currentColor;
    }nav a.top-link:first-child:hover {
      color: hsl(var(--clr-brown));
    }nav a.top-link:nth-child(2):hover {
      color: hsl(var(--clr-green));
    }nav a.top-link:last-child:hover {
      color: hsl(var(--clr-blue));
    }.menu-icon {
  position: relative;
  z-index: 10;
  margin-right: 1rem
}.menu-icon button {
    border: none;
    background: none;
    position: fixed;
    top: 15px;
    right: 15px;
  }.menu-icon:hover {
    background: none;
  }.menu-icon svg {
    font-size: 3rem;
  }@keyframes sliceFromRight {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(var(--menu-pos));
  }
}@keyframes exitToRight {
  0% {
    transform: translateX(--menu-pos);
  }
  100% {
    transform: translateX(110%);
  }
}.navbar-menu {
  position: absolute;
  top: -2;
  left: -16px;
  height: 105vh;
  width: 110vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 8;
  background-image: url("../img/mobile-menu-bg.svg");
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 350ms ease;
  border-bottom-left-radius: 15px 74px;
  border-top-left-radius: 15px 74px
}.navbar-menu[aria-hidden="true"] {
    transform: translateX(110%);
  }.navbar-menu[aria-hidden="false"] {
    transform: translate(-90%, -7%);
  }.navbar-menu a {
    position: relative;
    font-family: "BioRhyme", serif;
    font-weight: var(--fw-900);
    font-size: 2rem;
    text-decoration: none
  }.navbar-menu a:before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100vw;
      height: 5px;
      border-radius: var(--border-radius);
    }.navbar-menu a[aria-hidden="true"] {
      animation: exitToRight 250ms ease forwards;
    }.navbar-menu a[aria-hidden="false"] {
      animation: sliceFromRight var(--animation-time) ease forwards;
      animation-delay: 100ms;
    }.navbar-menu a.about {
    color: hsl(var(--clr-blue));
    --menu-pos: 19%;
    --animation-time: 150ms
  }.navbar-menu a.about:before {
      background-color: hsl(var(--clr-blue) / 0.7);
    }.navbar-menu a.work {
    color: hsl(var(--clr-brown));
    --menu-pos: 5%;
    --animation-time: 210ms
  }.navbar-menu a.work:before {
      background-color: hsl(var(--clr-brown) / 0.7);
    }.navbar-menu a.contact {
    color: hsl(var(--clr-green));
    --menu-pos: 12%;
    --animation-time: 300ms
  }.navbar-menu a.contact:before {
      background-color: hsl(var(--clr-green) / 0.7);
    }@media screen and (min-width: 700px) {
  .navbar-menu .nav-item {
    font-size: 3rem;
  }
}footer {
  background-color: hsl(var(--clr-blue));
  display: flex;
  flex-flow: column;
  align-items: center;
  outline: 2px solid hsl(var(--clr-blue))
}footer > * {
    margin-bottom: 2rem;
  }footer .title h2 {
      text-align: center;
    }.footer-redes {
  display: flex;
  flex-direction: column;
}.footer-redes-link {
  position: relative;
  font-size: 3.2rem;
}.skills .skills-block {
    margin-block: 2rem;
    text-align: center
  }.skills .skills-block .skills-block-gallery {
      display: flex;
      justify-content: center;
      font-size: 3rem
    }.skills .skills-block .skills-block-gallery > * {
        margin-inline: 1rem;
      }.skills .skills-block h4 {
      display: block;
      margin-bottom: 1rem;
    }.contact-gallery {
  display: flex;
  justify-content: center;
  font-size: 4rem;
}.contact-button {
  position: relative;
  width: 4rem;
  height: 4rem;
  margin-inline: 0.5rem;
  cursor: pointer;
  background: none;
  border: none
}.contact-button:hover > svg {
    scale: 1.1;
  }.contact-button svg {
    top: 0;
    left: 0;
    position: absolute;
  }
